.gallery_Block {
    height: auto;
    width: 90%;
    /* background-color: rgb(163, 116, 116, 0.4); */
    position: relative;
    margin: 190px auto 0px auto;
    justify-content: space-between;
}
.capybara_none {
    /* width: 20%; */
    /* position: absolute; */
    margin:0;
    /* background: rgba(255, 255, 255, 0.5); */
    /* backdrop-filter: url('../img/filter_gallery.png'); */
    position:relative;
    z-index: -12;

}

.filterimage {
    position: relative;
    background-image: url('../img/filter_gallery.png');
    background-repeat: no-repeat;
    background-position: center;
    width: auto;
    height: auto;
    z-index: -1;
}
/* .capybara_none::before {
    background-image: url('../img/capybara_none.png');

} */