nav{
    width: 40%;
    height: 60px;
    left: 13.3%;
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    color: #FFFFFF;
}
.imageLogo {
    width: 104px;
    cursor: pointer;
}
.nav_element {
    /* font-weight: 360; */
    font-size: 15px;
    /* line-height: 18px; */
    /* text-transform: uppercase; */
    font-family: 'SequelSans-RomanHead';
    text-transform: uppercase;
    cursor: pointer;
}
@media only screen and (max-width: 1400px) {
    nav{
        width: 50%;
    }
}

@media only screen and (max-width: 990px) {
    nav{
        display: none;
    }
}