nav{
    width: 40%;
    height: 60px;
    left: 13.3%;
    z-index: 110;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position:fixed;
    color: #FFFFFF;
    margin-top: 19px;
    margin-left: auto;
    margin-right: auto;
}
nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 15px;
    /* line-height: 18px; */
    /* text-transform: uppercase; */
    /* font-family: 'SequelSans-RomanHead';
    font-weight: normal;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 360;
    line-height: 18px; */
    font-weight:100;

}
.navSvgIcon {
    position: absolute;
    right: 7%;
    top: 5%;
    width: 150px;
    display: flex;
    justify-content: space-around;
}
.navSvgIcon svg {
    cursor: pointer;
}
.imageLogo {
    width: 104px;
    cursor: pointer;
    display: block;
}
.nav_element {
    /* font-weight: 360; */
    font-size: 15px;
    /* line-height: 18px; */
    /* text-transform: uppercase; */
    font-family: 'SequelSans-RomanHead';
    /* font-weight: normal; */
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 100;
    line-height: 18px;
}


@media only screen and (max-width: 1510px) {
    nav{
        width: 55%;
    }
}

@media only screen and (max-width: 1034px) {
    nav{
        width: 70%;
    }
}

@media only screen and (max-width: 734px) {
    nav{
        width: 100%;
        left: 0%;
        padding-left: 50px;
        padding-right: 50px;
        /* right: 4%; */
        display: none;
    }
    .imageLogo {
        display: none;
    }
    .nav_element {
        font-style: normal;
        font-weight: 360;
        font-size: 13px;
        line-height: 15px;
    }
}

@media only screen and (max-width: 414px) {
    nav{
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}