.TheChillClubRules_block {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: #00C1B6;
    margin-top: 45vh;
    display: flex;
    flex-direction: row;
}

.TheChillClubRules_block_title {
    /* width: 31%; */
    height: 100%;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.TheChillClubRules_block_title_h1 {
    font-family: 'SequelSans-MediumHead';
    font-weight: 365;
    font-size: 200px;
    line-height: 100%;
    text-align: justify;
    text-transform: capitalize;
    background: linear-gradient(162.63deg, #00ADA3 27.67%, #00726B 108.86%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    /* text-fill-color: transparent; */
}

.TheChillClubRules_block_text {
    height: 100%;
    background-color: #D7FFFD;
    display: flex;
    align-items: center;
    /* display: none; */
    transition: 1s;    width: 0;

}

.TheChillClubRules_block_text_text {
    position: absolute;
}

.active {
    /* display: flex; */
        width: 110%;

}

.blockContainer {
    display: flex;
    flex-direction: row;
    width: 100%;

}

.block_number_conteiner_block_number {
    font-family: 'SequelSans-LightHead';
    font-weight: normal;
    /* width: 13%; */
    font-size: 48px;
    height: 100%;
    display: flex;
    /* align-items: center; */
    justify-content: center;
    color: #FFFFFF;
    position: relative;
    /* bottom:  */
    /* display: none; */
    transition: 1s;
    width: 169px;

}

.block_number_conteiner_block_number div {
    position: absolute;
    bottom: 244px;
    right: 75px;
}

.first {
    /* width: 33%; */
    /* width: 169px; */
    height: 100%;
    background-color: #92F4EF;
    z-index: 1;
}

.second {
    /* width: 33%; */
    /* width: 169px; */
    height: 100%;
    background-color: #32DCD2;
    z-index: 2;

}

.third {
    /* width: 33%; */
    /* width: 169px; */
    height: 100%;    
    background-color: #00C1B6;   
    z-index: 3;

}