/* @font-face {
	font-family: 'SequelSans-RomanHead'; 
	src: url(./SequelSans-RomanHead.otf)  format('truetype'); 
}
@font-face {
	font-family: 'SequelSans-MediumHead'; 
	src: url(./SequelSans-MediumHead.otf)  format('truetype'); 
}
@font-face {
	font-family: 'SequelSans-RomanDisp'; 
	src: url(./SequelSans-RomanDisp.otf)  format('truetype'); 
} */